
.idea/SVV-Group-13-TUDelft.iml
.idea/SVV-Group-13-TUDelft.iml
src/input/general/__pycache__/discrete_input.cpython-37.pyc
src/input/general/__pycache__/__init__.cpython-37.pyc
src/input/cross_section/__pycache__/cross_section.cpython-37.pyc
src/input/cross_section/__pycache__/__init__.cpython-37.pyc
src/input/aero_load/__pycache__/aero_load.cpython-37.pyc
src/input/aero_load/__pycache__/__init__.cpython-37.pyc
src/input/__pycache__/input.cpython-37.pyc
src/input/__pycache__/__init__.cpython-37.pyc
.idea/SVV-Group-13-TUDelft.iml
src/__pycache__/__init__.cpython-37.pyc
.idea/misc.xml
.idea/misc.xml
.idea/SVV-Group-13-TUDelft.iml
